.item-navbar-container_mb{
    z-index:-5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: black;
    position: fixed;
    left:0px;

    .item-navbar_mb{
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    }


    
