//mixins
@mixin animation-cursor-pounter_text(){
    content: "|";
    animation: flash 0.3s none infinite alternate;
}
//mixins

.navbar {
    //variable
    --show-after:hidden;
    --show-before:visible;
    --show-text:hidden;
    //variable

    width: 100hv;
    background-color: rgb(51, 51, 51);
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-container{
        padding: 0 10px;
        width: 996px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
            .navbar-name{
                width: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .navbar-name-text{
                    margin: 0;
                    visibility: var(--show-text);
                    text-align: left;
                    display: inline;
                    color:white;    
                }
        }
        i{
            display: none;
        }
        .item-navbar{
            font-weight: low;
            margin: 0 15px;
        }
        .navbar-sign{
            .navbar-signup{
                transition: all 0.5s;
                margin-left: 10px;
                border: 1px solid white;
                border-radius: 5px;
                padding: 5px;
                &:hover{
                    background-color: white;
                    color:rgb(51, 51, 51);
                    transition: all 0.5s;                
                }
            }
        }
    
    }
}



@media screen and (max-width:576px) {
    .navbar {
        z-index: 1;
        height: 48px;
        align-items: center;
        justify-content: center;
        .navbar-container{
            padding: 0 10px;
            width: 996px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            transition: all 2s;
            &.active{
                background-color: black;
                transition: all 2s;
            }
            .navbar-name{
                order: 2;
                display: inline-block;
                color:white;
                animation-name: first-show;
                animation-duration: 1s;
                animation-iteration-count: 1;
            }
            .item-navbar-container{
                display: none;
            }
            .icon-container_mb{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                order: 1;
                width: 48px;
                height: 48px;
                .icon-container_mb_1{
                    display: block;
                    height: 1px;
                    width: 50%;
                    background-color: #fff;;
                    margin-bottom: 8px;
                    animation-name: animation-bm_start_1;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;

                    &.active{
                        animation-name: animation-bm_1;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                }
                .icon-container_mb_2{
                    display: block;
                    height: 1px;
                    width: 50%;
                    background-color: #fff;
                    animation-name: animation-bm_start_2;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;

                    &.active{
                        animation-name: animation-bm_2;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                }
            }
            .navbar-sign{
                order: 3;

        }
    }
}
}
@media screen and (max-width:400px) {
    .navbar {
        .navbar-container{
            i{
                display: inline-block;
                order:3
            }
            .navbar-sign{
                display: none;

        }

        }
    }
}


@keyframes animation-bm_1 {
    50%
    {transform:  translateY(4px)}
    100%
    {transform:  translateX(0px) translateY(5px) rotate(45deg)}
}
@keyframes animation-bm_2 {
    50%
    {transform: translateY(-5px) ;}
    100%
    {transform: translateX(0px) translateY(-4px)  rotate(-45deg);}
}
@keyframes animation-bm_start_1 {
    50%
    {transform:  translateY(4px)}
    0%
    {transform:  translateX(0px) translateY(5px) rotate(45deg)}
}
@keyframes animation-bm_start_2 {
    50%
    {transform: translateY(-5px) ;}
    0%
    {transform: translateX(0px) translateY(-4px)  rotate(-45deg);}
}
@keyframes flash{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
}}

