//mixins
@mixin animation-cursor-pounter_text(){
    content: "|";
    animation: var(--show-end-cursor-animation);
}
//mixins

.welcome-page{
    //variables
    --typingText-size:80px;
    --show-text:none;
    --show-end-cursor-animation:flash 0.3s none infinite alternate;
    //variables
    display: flex;
    align-items: center;
    justify-content: center;
    .welcome-page_container{
        height: calc(100vh-44px);
        width: 996px;
        display: flex;
        .welcome-page-text{
            position: absolute;
            top:40%;
            left:20%;
            .text{
                font-style: 100%;
                display: inline;
                // display:var(--show-text);
                font-size: var(--typingText-size);
            }
            .cursor{
                display: inline;
                font-size: var(--typingText-size);
                &::after{
                    @include animation-cursor-pounter_text();
            }}
        }
    }
}

@keyframes flash{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
}}


